
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
img {
    border: 10px solid red;
}
p {
    padding: 35px;
}
p {
    margin: 35px;
}
#title-id {
    background-color: blue;
    color: white;
}